button{
    background-color: #e63946; 
    border-radius: 30px;
    color: #fff;
}
.custom-range{
    padding: 0px 20px;
}
input[type=range]::-webkit-slider-thumb{
    background-color: #e63946;
}
.sexo{
    font-size: 40px;
}
.estiloNumero{
    font-size: 32px;
    font-weight: 800;
    margin-top: -30px;
}
.cm{
    font-size: 16px;
    font-weight: 400;
    margin-left: -10px;
}
.sumaresta{
    cursor: pointer;
    background-color:#e63946;
    padding: 7px;
    border-radius: 20px;
    margin-left: 3px;
}
.seleccionado{
    background-color: #e63946;
}
.s{
    cursor: pointer;
}
.fondo-item{
    height: 130px;
}