<div class="container p-5">
    <div class="row">
        <div class="col-lg-12 text-center mt-4">
            <h2>RESULTADO</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="fondo-item">
                <div class="contenedor">
                    <label>{{gravedad}}</label>
                    <div class="numero mt-4">{{resultado}}</div>
                    <p class="my-5">{{texto}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <button class="btn btn-block btn-lg" routerLink="/">RE-CALCULAR</button>
    </div>
</div>